# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [6]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
from scipy import stats

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [5]:
#code here
df_dragon = df[(df["Type 1"]=="Dragon") | (df["Type 2"]== "Dragon")]
df_grass = df[(df["Type 1"]=="Grass") | (df["Type 2"]== "Grass")]

alpha = 0.05

# Calculate dragon statistics
dragon_stat = df_dragon['HP'].agg(
    mean='mean',
    median='median',
    variance='var',
    std_dev='std',
    sample_size="count"
)

# Calculate grass statistics
grass_stat = df_grass['HP'].agg(
    mean='mean',
    median='median',
    variance='var',
    std_dev='std',
    sample_size="count"
)

print("Dragon statistics:")
display(dragon_stat)
print("Grass statistics:")
display(grass_stat)

# Hypothesis: 
#H1: mu_price dragon > mu_price grass
#H0: mu_price dragon <= mu_price grass

dragon_stat_hp = df_dragon["HP"]
grass_stat_hp = df_grass["HP"]

stat, p_val =st.ttest_ind(dragon_stat_hp,grass_stat_hp, equal_var=False, alternative = "greater")

if p_val > alpha:
    print(f"Since {round(p_val, 5)} > {alpha}, we cannot reject the null hypothesis. "
          "This suggests that there is not enough evidence to say Dragon-type PokÃ©mon have more HP than Grass-type PokÃ©mon.")
else:
    print(f"Since {round(p_val, 5)} < {alpha}, we reject the null hypothesis. "
          "This suggests that Dragon-type PokÃ©mon have, on average, significantly more HP than Grass-type PokÃ©mon.")

Dragon statistics:

mean            82.900000
median          80.000000
variance       658.010204
std_dev         25.651710
sample_size     50.000000
Name: HP, dtype: float64

Grass statistics:

mean            66.052632
median          65.000000
variance       355.773796
std_dev         18.861967
sample_size     95.000000
Name: HP, dtype: float64

Since 5e-05 < 0.05, we reject the null hypothesis. This suggests that Dragon-type PokÃ©mon have, on average, significantly more HP than Grass-type PokÃ©mon.

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [7]:
#code here
legendary_stats = df[df['Legendary'] == 1]
non_legendary_stats = df[df['Legendary'] == 0]

statistics = {}
sts = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']
for stat in sts :
    f_stat, p_val = stats.f_oneway(legendary_stats[stat], non_legendary_stats[stat])
    statistics[stat] = (f_stat, p_val)

alpha = 0.05

for stat, (f_stat, p_val) in statistics.items():
    if p_val < alpha:
        print(f"Stat: {stat} has a P-value of {round(p_val,4)}. Since the P-value is lower than {alpha}, we reject H0: there is a significant difference in stats between Legendary and Non-Legendary PokÃ©mon.\n")
    else:
        print(f"Stat: {stat} has a P-value of {round(p_val,4)}. Since the P-value is higher than {alpha}, we fail to reject H0: there is no significant difference in stats between Legendary and Non-Legendary PokÃ©mon.\n")

Stat: HP has a P-value of 0.0. Since the P-value is lower than 0.05, we reject H0: there is a significant difference in stats between Legendary and Non-Legendary PokÃ©mon.

Stat: Attack has a P-value of 0.0. Since the P-value is lower than 0.05, we reject H0: there is a significant difference in stats between Legendary and Non-Legendary PokÃ©mon.

Stat: Defense has a P-value of 0.0. Since the P-value is lower than 0.05, we reject H0: there is a significant difference in stats between Legendary and Non-Legendary PokÃ©mon.

Stat: Sp. Atk has a P-value of 0.0. Since the P-value is lower than 0.05, we reject H0: there is a significant difference in stats between Legendary and Non-Legendary PokÃ©mon.

Stat: Sp. Def has a P-value of 0.0. Since the P-value is lower than 0.05, we reject H0: there is a significant difference in stats between Legendary and Non-Legendary PokÃ©mon.

Stat: Speed has a P-value of 0.0. Since the P-value is lower than 0.05, we reject H0: there is a significant difference in stats between Legendary and Non-Legendary PokÃ©mon.

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [8]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [9]:
import math as m

def euclidean(row, reference):
    """
    Input: dataframe with longitude and latitude as columns
    Input: reference as a tuple (x,y)
    """
    long = row["longitude"] # X (longitude)
    lat = row["latitude"] # Y (latitude)
    (x,y) = reference
    
    distance = m.sqrt((long - x)**2 + (lat - y)**2)
    
    return distance

school = (-118, 37)
hospital = (-122, 34)

df["distance_hospital"] = df.apply(euclidean, axis=1, reference=hospital)
df["distance_school"] = df.apply(euclidean, axis=1, reference=school)

thresh = 0.5
df["close_hospital"] = df.apply(lambda x: "close" if x["distance_hospital"] < thresh else "far", axis=1)
df["close_school"] = df.apply(lambda x: "close" if x["distance_school"] < thresh else "far", axis=1)

df_close = df[(df["close_hospital"] == "close" ) | (df["close_school"] == "close" )]["median_house_value"]
df_far = df[(df["close_hospital"] == "far" ) & (df["close_school"] == "far" )]["median_house_value"]

# Calculate statistics
df_close_stat = df_close.agg(
    mean='mean',
    median='median',
    variance='var',
    std_dev='std',
    sample_size="count"
)

df_far_stat = df_far.agg(
    mean='mean',
    median='median',
    variance='var',
    std_dev='std',
    sample_size="count"
)

# Display statistics
print("Statistics for houses close to school/hospital:")
print(df_close_stat)
print("\nStatistics for houses far from school/hospital:")
print(df_far_stat)

#Hypothesis:
# H1: Houses close to either a school or a hospital are more expensive
# H0: Houses close to either hospital or school are not more expensive


stat, p_val = st.ttest_ind(df_close,df_far, equal_var=False, alternative="greater")
alpha = 0.05
if p_val > alpha:
    print(f"P-value of {p_val} > {alpha} (significance): we can't reject H0, therefore we can't affirm that the houses are more expensive.")
elif p_val < alpha:
    print(f"P-value of {p_val} < {alpha} (significance): we reject H0, so the houses near the hospital or school are indeed more expensive.")

Statistics for houses close to school/hospital:
mean           9.246000e+04
median         9.450000e+04
variance       2.197430e+08
std_dev        1.482373e+04
sample_size    5.000000e+00
Name: median_house_value, dtype: float64

Statistics for houses far from school/hospital:
mean           2.073347e+05
median         1.804000e+05
variance       1.345226e+10
std_dev        1.159839e+05
sample_size    1.699500e+04
Name: median_house_value, dtype: float64
P-value of 0.9999738999071939 > 0.05 (significance): we can't reject H0, therefore we can't affirm that the houses are more expensive.